* {
    margin: 0;
    padding: 0;
}

.h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    word-spacing: 10px;
    text-shadow: 2px 2px 5px gray;
}

.p {
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 10px;

}
 .div {
    text-align: center;
 }
