* {
    margin: 0;
    padding: 0;
}

/* display properties */
.div1 {
    display: block;
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
}

.div2 {
    display: inline;
    background-color: coral;
    margin: 10px;
    padding: 10px;
}

.div3 {
    display: none;
    background-color: crimson;
    margin: 10px;
    padding: 10px;
}

/* Overflow properties */
.div_auto {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 80px;
    border: 1px solid black;
    overflow: auto ;
    background-color:crimson
}

.div_scroll {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 80px;
    border: 1px solid black;
    overflow: scroll;
    background-color:brown
}

.div_hidden {
    width: 500px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    overflow: visible;
    background-color: aqua;
}

.div_visible {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 80px;
    border: 1px solid black;
    overflow: visible;
    background-color: cadetblue;
}

/* Opacity Properties */
.opacity-0 {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:aqua;
    opacity: 0;
}
.opacity-0-2 {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:brown;
    opacity: 0.2;
}
.opacity-0-5 {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:crimson;
    opacity: 0.5;
}
.opacity-1 {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:crimson;
    opacity: 1;
}

/* List style properties */
.main {
    margin: 10px;
    padding: 10px;
}
.circle {
    list-style-type: circle;
}
.disc {
   list-style-type: disc;
}
.sqaure {
    list-style-type: square;
}
.none {
    list-style-type: none;
}
.number {
    list-style-type: decimal;
}
.upper-roman {
    list-style-type: upper-roman;
}
.lower-roman {
    list-style-type: lower-roman;
}
.upper-alpha {
    list-style-type: upper-alpha;
}
.lower-alpha {
    list-style-type: lower-alpha;
}
.inside {
    list-style-position: inside;
}
.outside {
    list-style-position: outside;
}