* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(./logo.jpg);
    background-size: cover ;
    background-position: center;
   
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px ;
    padding-top: 10px;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}

a {
    color: white;
    font-weight: bold;
}

.content {
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    top: 40%;
}

.h1 {
    font-size: 70px;
}

.p {
    font-weight: 100;
    line-height: 25px;
}

.btn {
    margin-top: 20px;
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color:blueviolet;
    color: white;
}

.btn1, .btn2 {
    width: 100px;
    text-align: center;
    padding: 15px;
    margin: 10px 10px;
    font-weight: bold;
    border-radius: 10px;
    background-color:blueviolet;
    color: white;
}

.btn2 {
    background-color: transparent;
}

.div1 {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.border {
    border-bottom: 3px solid black;
    width: 100px;
}
.img1 {
    width: 70pxpx;
    height: 60px;
    padding-top: 20px;
}
.caption {
    text-align: center;
    padding: 15px;
    color: white;
}
.caption h2 {
    padding: 20px;
}
.item1 {
    width: 24%;
    background-color: blueviolet;
}
.cardmain {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 280px;
}
.btn-caption {
    margin: 20px;
    margin-left: 95px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px;
}

.div2 {
    margin-top: 25px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div2 .border {
    width: 400px;
}
.about {
    display: flex;
}
.img-about {
    object-fit: cover;
    width: 350px;
    height: 380px;
}
.div3 {
    width: 49%;
    padding: 40px;
    font-size: 20px;
}
.div3 p {
    margin-top: 20px;
}
.img-about-div {
    width: 49%;
}
.btn-about {
    padding-top: 30px;
    margin-left: 45px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px;
}

.div4 {
    margin-top: 25px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.div4 p {
    margin-top: 15px;
}

.client-div {
    display: flex;
}
.img-client {
    object-fit: cover;
    width: 200px;
    height: 230px;
    margin: 20px;
}
.img-client-div {
    width: 49%;
    padding: 40px;
    font-size: 20px;
}
.div4 {
    margin-top: 25px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.div5 {
    width: 49%;
    padding: 40px;
    font-size: 20px;
}
.div5 p {
    margin-top: 20px;
}
