* {
    margin: 0;
    padding: 0;
}

.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(231, 227, 225);
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.main {
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(./image.jpg);
    width: 100%;
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
}

.p {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px gray;
    text-decoration: underline;
    margin-top: 10px;
    color: beige;
}

.text {
    color: bisque;
    font-size: 18px;
}

img {
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px gray;
}

b {
    color: rgb(231, 100, 100);
    text-decoration: underline;
    text-shadow: 1px 1px gray;
}

a {
    color: rgb(83, 133, 224);
    font-weight: bold;
    font-size: 16px;
}

.div1 {
    margin-bottom: 20px;
}

.div2 {
    margin-bottom: 20px;
}