*{
    margin: 0;
    padding: 0;
}
.one{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/Background/IMageDoctor.jpg);
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed; 
}
.p{
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    /* color: white; */
}
.p1{
   font-weight: bold;
   font-size: 20px;
   line-height: 1.6;
   /* color: white; */
}
.div{
    text-align: center;
}
.h1{
    text-shadow: 2px 2px 5px rgb(232, 131, 131);
    word-spacing: 40px;
    letter-spacing: 10px;
    text-indent: 180px;
}

